<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Kolikpen</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/KolikIcon.ico" type="image/x-icon">
  <!-- Fontawsome -->
  <script src="https://kit.fontawesome.com/89b214bda7.js" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Boostrapt Skripts -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main">
    <div class="col-lg-10 mx-auto ">
      <nav class="navbar navbar-expand-lg navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="logo" src="images/KolikLogo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><b>HOME</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html#about"><b>ABOUT</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/articles/catalogue"><b>CATALOGUE</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/articles/new"><b>ADD NEW CAR</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html#popular"><b>POPULAR CARS</b></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="infom">
      <div class="col-lg-9 mx-auto">
        <div class="row">
          <div class="col-lg-7 tit">
            <div class="title1"><b>Find your perfect car</b></div>
            <p class="titText">Finding your next car for the best price means comparing what's out there. Use our search and compare tools to find all the used cars for sale in your area and get quotes on new ones.</p>
          </div>
          <div class="col-lg-5 tit">
            <i class="fas fa-car fa-10x"></i><br>
            <a href="/articles/catalogue"><button class="white_button"><span>Find</span></button></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="info">

      <div class="info1" id="about">
        <h2 class="red_title"><b>About us</b></h2>
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="row items">
            <div class="col-lg-7 col-md-7 mx-auto info1_1">
              <h2>Kolikpen is the Kazakhstan's largest digital automotive marketplace</h2>
              <p>AIt’s the go-to destination for car buyers and has been for the past 5 years. Kolikpen has over 90% prompted brand awareness with consumers and attracts over 1 million cross platform visits each month. The audience is not only large
                but highly engaged with a 75% share of minutes spent across automotive platforms.</p>
            </div>
            <div class="col-lg-5 col-md-5 mx-auto  my-auto">
              <div class="col-lg-10 col-md-10 mx-auto">
                <img class="img-fluid" src="images/KolikLogo.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="info4" id="distributors">
        <div class="white_title">
          <b>Distributors</b>
          <div class="col-lg-9 col-md-9 col-sm-6 mx-auto partners">
            <div class="row partner_row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 my-auto mlogo">
                <a href="https://bavaria.kz/">
                  <img class="img-fluid" src="https://www.carlogos.org/car-logos/bmw-logo.png">
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 my-auto mlogo">
                <a href="https://www.toyotakz.com/">
                  <img class="img-fluid" src="https://www.carlogos.org/car-logos/toyota-logo.png">
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 my-auto mlogo">
                <a href="https://almaty.hyundai.kz/ru/">
                  <img class="img-fluid" src="https://www.carlogos.org/car-logos/hyundai-logo.png">
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 my-auto mlogo">
                <a href="https://www.lexuskz.com/">
                  <img class="img-fluid" src="https://www.carlogos.org/car-logos/lexus-logo.png">
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 my-auto mlogo my-auto">
                <a href="https://www.mercedes-benz-kazakhstan.com/ru/desktop/home.html">
                  <img class="img-fluid" src="https://www.carlogos.org/car-logos/mercedes-benz-logo.png">
                </a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 my-auto mlogo my-auto">
                <a href="https://www.volkswagen.kz/ru.html">
                  <img class="img-fluid" src="https://www.carlogos.org/car-logos/volkswagen-logo.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="info1" id="popular">
        <div class="col-lg-10 col-md-10 mx-auto">
          <span><button type="submit" class="find btn mt-2 mb-4 btn-outline-danger">Mercedes</button></span>
          <div class="row items">
            <div class="col-lg-5 col-md-5 mx-auto">
              <div class="col-lg-10 col-md-10">
                <img class="img-fluid img_main" src="https://s.auto.drom.ru/i24238/c/photos/fullsize/bmw/m8/bmw_m8_920697.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-7 col-md-7 mx-auto info1_1">
              <h2 class="Mers">BMW M8 Competition Gran Coupe</h2>
              <p class="Mers-text">Inside the M8 Competition Gran Coupe is a perfect balance of elegance and adrenaline. Comfortable seats, glowing lighting, refined upholstery and more create refined, comfortable cabin befitting a class-defining
                luxury sports car.
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="col-lg-11 mx-auto footer_inner">
          <div class="row footer_1">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-6">
                  <h2><b>Nur-Sultan</b></h2>
                  <address>
                    Business center EXPO, block C1 <br>
                    Kazakhstan, 010000 <br>
                    +7 (7172)645-710
                  </address>
                </div>
                <div class="col-lg-6 col-md-6 col-6 footer_box">
                  <h4>Crown<br />
                    Commercial<br />
                    Service<br />
                    Supplier<br />
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-6 footer_box1">
                  <h3><b>Company</b></h3>
                  <h4>Home<br />
                    About<br />
                    Products<br />
                  </h4>
                </div>
                <div class="col-lg-6 col-md-6 col-6 footer_box">
                  <h3><b>Product</b></h3>
                  <h4>Explore simulations<br />
                    Peer-reviewed research<br />
                    Simulators<br />
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row footer_1">
            <div class="col-lg-6 col-md-6 mx-auto footer_box1">
              <i class="fab fa-instagram fa-2x footer_icon"></i>
              <i class="fab fa-linkedin-in fa-2x footer_icon"></i>
              <i class="fab fa-facebook-f fa-2x footer_icon"></i>
              <i class="fab fa-twitter fa-2x footer_icon"></i>
            </div>
            <div class="col-lg-6 col-md-6 mx-auto footer_box1">
              "@ 2021 Kolikpen all rights reserved. See our privacy policy and terms to use."
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(".find").on("click", function() {
      $(".img_main").attr("src", "https://s0.rbk.ru/v6_top_pics/media/img/4/37/755990497054374.jpg");
      $(".Mers").html("Mercedes S Class W223");
      $(".Mers-text").html(
        "The W223 S-Class is based on the second-generation modular MRA platform and uses a four-link front suspension and multi-link independent rear suspension. Air suspension is standard and can automatically lower by 20 mm (0.79 in) at 160 km/h (99 mph) to increase stability."
        );
    });
  </script>
</body>

</html>
